* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "MuseoSans500";
    src: url("../fonts/MuseoSans_500.otf") format("opentype");
}

li {
    list-style: none;
}

a {
    color: #fff;
    text-decoration: none;
}

input[type="search"] {
    -webkit-appearance: none;
    background-color: transparent;
    padding: 10px;
    width: 300px;
    border: none;
    color: #404f63;
    outline: none;
}

input[type="search"]::-webkit-input-placeholder {
    color: #404f63;
}

label {
    color: #404f63;
}

body {
    background-color: #1C2831;
}

.header {
    background-color: #233442;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "MuseoSans500";
    padding-right: 20px;
    color: #fff;
    font-size: 14px;
}

.logo {
    background-color: #253443;
    box-shadow: 7px -2px 5px #212f3b;
    padding: 7px 10px 0;
}

.menu-items {
    display: flex;
}

.menu-items li a {
    line-height: 2.5;
    vertical-align: middle;
    padding: 0 20px;
}

.menu-items li.active a {
    color: #25537A;
}

.user-icon {
    border-radius: 50%;
    border: 1px solid black;
    overflow: hidden;
    width: 50px;
    height: 50px;
    margin-right: 13px;
}

.user-icon img {
    height: 50px;
}

.user,
.user-panel {
    display: flex;
    align-items: center;
}

.user-panel {
    position: relative;
}

.submenu-user-panel {
    position: absolute;
    display: none;
    top: 58px;
    right: -20px;
    width: 210px;
}

.submenu-user-panel.active {
    display: block;
}

.submenu-user {
    padding: 10px 17px;
    background: rgba(255, 255, 255, 0.3);
    border-bottom: .5px solid #1c2831;
}

.submenu-user:hover {
    opacity: 0.8;
    cursor: pointer;
}

.user-panel i {
    font-size: 12px;
    transform: rotate(180deg);
    margin-left: 10px;
}

.user-panel i:hover {
    cursor: pointer;
}

i.open-submenu.opened {
    transform: rotate(0deg)
}

.block {
    background-color: #232d38;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 30px;
}

.block>header {
    background-color: #253443;
}

.block_inner {
    padding: 0 25px;
}

main {
    display: flex;
    color: #fff;
    font-family: 'MuseoSans500';
    font-size: 14px;
}

.block_inner_content,
.tab_content,
.section_inner,
.indicators {
    display: flex;
    justify-content: space-between;
}

.container {
    padding: 0 30px;
}

.progress-bar {
    display: inline-flex;
    width: 150px;
    height: 3px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: #19232c;
}

.progress-bar.mini {
    width: 115px;
    margin-right: 15px;
}

.progress-bar.mini small {
    position: relative;
    top: -20px;
    width: 100%;
    text-align: right;
    padding-right: 5px;
}

.main_content {
    padding: 10px 0;
}

.tab {
    line-height: 3;
    padding: 0 10px;
    cursor: pointer;
}

.tab.active {
    border-bottom: 2px solid #008aff;
    color: #008aff;
    cursor: default;
}

.block_inner_content>h3 {
    align-self: center;
    font-weight: 100;
    line-height: 3;
}

.indicators {
    padding-top: 25px;
    padding-bottom: 18px;
}

.indicator {
    margin-right: 50px;
}

.indicator:last-child {
    margin: 0;
}

.indicator span {
    margin-right: 15px;
}

.indicator.tl {
    color: #20dbb6;
}

.indicator.euro {
    color: #2873e3;
}

.indicator.usd {
    color: #e065b5;
}

.indicator.tl .progress-bar span {
    background-color: #20dbb6;
}

.indicator.euro .progress-bar span {
    background-color: #2873e3;
}

.indicator.usd .progress-bar span {
    background-color: #e065b5;
}

.indicator p {
    text-align: center;
    margin-top: 10px;
    color: #1c262f;
}

.section_inner {
    flex-direction: column;
    justify-content: flex-start;
}

.inner-content {
    display: flex;
}

.left_block {
    width: 60%;
    margin-right: 30px;
}

.right-block {
    width: 37%;
}

.data-tab-item {
    display: flex;
    padding: 20px;
    border-bottom: 1px solid #212b36;
    justify-content: space-between;
    color: #8999a9;
    align-items: baseline;
    font-size: 14px;
}

.data-tab-item:last-child {
    border: none;
}

.data-tab-item span.big {
    font-size: 20px;
    color: #fff;
}

.data-tab-item span.submit_send:hover {
    cursor: pointer;
    opacity: 0.8;
}

.btn_action,
.btn_default {
    -webkit-appearance: none;
    background: transparent;
    border: 2px solid #008aff;
    border-radius: 20px;
    padding: 10px 30px;
    color: #fff;
    width: 12em;
    margin-right: 30px;
    cursor: pointer;
}

.btn_default {
    border: none;
    padding: 0;
}

.btn_default:hover {
    opacity: .8
}

.data-tab-item span.date,
.data-tab-item span.submit_send,
.btn_default {
    color: #008aff;
    font-size: 14px;
}

.btn_action:hover {
    background-color: #ffffff38;
    color: #008aff;
    cursor: pointer;
}

.btn_action:last-child {
    margin: 0;
}

.data-actions {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.users .data-tab-item {
    align-items: center;
}

.data-tab-item .user-panel {
    margin-right: 20px;
}

.ct-point {
    stroke: #fff !important;
    cursor: pointer;
}

.ct-line {
    stroke: transparent !important;
}

.tooltip {
    position: absolute;
    background-color: #a5a3a3;
    padding: 8px;
    visibility: hidden;
}

.tooltip::after {
    content: '';
    width: 15px;
    height: 15px;
    transform: rotate(45deg);
    background-color: #a5a3a3;
    position: absolute;
    bottom: -7px;
    left: 0;
    right: 0;
    margin: auto;
}

.toolt.tooltip-hidden {
    visibility: hidden;
}

.ct-label,
.ct-label.ct-vertical.ct-start {
    color: transparent;
    fill: transparent;
}

.ct-series-a .ct-area {
    fill: #0217d7;
}

.slick-initialized .slick-slide {
    margin: 0 20px;
    opacity: 0.3;
}

.slick-initialized .slick-slide.slick-active {
    opacity: 1;
}

.slider-block {
    max-width: 450px;
    margin: auto;
    margin-top: 20px;
}

.slider-block.cards {
    max-width: 150px;
}

.slider-for {
    max-width: 90%;
    margin: auto;
}

.rangeslider--horizontal {
    height: 5px;
}

.rangeslider__fill {
    background: #b6d4ef;
}

.rangeslider__handle {
    width: 15px;
    height: 15px;
}

.rangeslider--horizontal .rangeslider__handle {
    top: -5px;
}

.rangeslider__handle:after {
    display: none;
}

.label-for-ranges {
    color: #8999a9;
    margin-bottom: 30px;
    display: block;
    margin-top: 20px;
}

.range-values output {
    display: block;
    position: relative;
    top: -45px;
    right: 0;
    text-align: right;
    border-bottom: 1px solid #37434f;
}

.range-values {
    width: 50%;
}